<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Car price prediction</title>
    <meta name="description" content="Car price prediction">
    <meta name="author" content="Daniiar Berdikulov">  

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
</head>


<body>
    <div style="width: 500px; margin: 0 auto;">
        <h1> Оценка стоимости машины в Кыргызстане (based on AI)</h1>
        <br>
        <form onsubmit="onSubmitClick(event)">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.brand.label }}<br>
                {{ form.brand(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.year.label }}<br>
                {{ form.year(class_="form-control", placeholder='Введите год выпуска') }}
            </div>
            <div class="form-group">
                {{ form.mileage.label }}<br>
                {{ form.mileage(class_="form-control", placeholder='Введите пробег') }}
            </div>
            <div class="form-group">
                {{ form.capacity.label }}<br>
                {{ form.capacity(class_="form-control", placeholder='Введите объем') }}
            </div>
            <div class="form-group">
                {{ form.wheel.label }}<br>
                {{ form.wheel(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.fuel.label }}<br>
                {{ form.fuel(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.color.label }}<br>
                {{ form.color(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.carcass.label }}<br>
                {{ form.carcass(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.drive.label }}<br>
                {{ form.drive(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.transmission.label }}<br>
                {{ form.transmission(class_="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Предсказание</button>
        </form>
        <h2 id='answer'/>
    </div>
    <script src="js/scripts.js"></script>
</body>
        